@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Julius+Sans+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*.cinzel-<uniquifier> {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/
/*.julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}*/

/*<div class="card">
<div class="img-box">
    <img src="./img/iconinstagram.png">
</div>
<div class="content">
    <a><p>@renatinx</p></a>
    <a><p>@sh4olin_12</p></a>
    <a><p>@natan_07barsotti</p></a>
    <a><p>@sammuel_alvess</p></a>
</div>
</div>*/
/*.card{
    display:flex;
    justify-content: center;
    margin-left:-30%;
    margin-top:-20%;
    width:50px;
    position: relative;
    background:var(--bg-color2);
    overflow:hidden;
    transition:0.5s;
    border-radius:40%;
}
.card:hover{
    margin-top:0.01%;
    width:200px;
    border-radius:0%;
}
.card .img-box{
    position:absolute;
    width:50px;
    height:auto;
    top:0px;
    transition:0.5s;
}
.card:hover .img-box{
    margin-top:10%;
    scale: 1;
}
.card .img-box img{
    width: 50;
    height:100%;
    object-fit:cover;
}
.card .content{
    display: flex;
    text-align: center;
    flex-direction:column;
   
    height:50px;
    padding:15px;
    transition:0.5s;
}
.card:hover .content{
    height: 400px;
}
.card .content p{
    display:flex;
    align-items: 
   justify-content: ;
    color:var(--font-color1);
    
}*/

:root{
    --bg-color1:#fff;
    --bg-color2:#000;
    --bg-color3:#292828;
    --bg-color4:#303030;
    --font-color1:#fff;
    --font-color2:#00000000;
    --font-color3:#df6c00;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:"Cinzel", serif;
}
body{
    background: var(--bg-color4);
}
header{
    position:absolute;
    width:100%;
    left:0;
    z-index:1000;
    
}
#icon{
    display:flex;
    width:10%;
    margin-top:-1%;
    margin-left:-1%;
    transition:0.5s;
}

nav{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:-5.5%;
    margin-left:-22%;
    transition:0.5s;
    font-family: Body-Font;
}

nav ul{
    list-style:none;
}
nav ul li{
    display:inline-block;
}
nav ul li a{
    text-decoration:none;
    padding:25px;
    color:var(--font-color4);
    font-size:15px;
    font-weight:bolder;
}
#sobre{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:-1.7%;
    margin-left: 69%;
}
#banner{
    position:relative;
    z-index:-1000;
    width:100%;
    height:1000px;
}
.espaco{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:0%;
    padding:50px;
    width:100%;
    height:700px;
    box-shadow: 1px -30px 40px black;
    background: var(--bg-color1);
}
.hstcard{
    width:700px;
    margin-left:10%;
}
.hstcard .imgbanner img{
    margin-left:135%;
    margin-top:25%;
    width:500px;
    height:500px;
    transition:0.5s;

}
.hstcard .imgbanner img:hover{
    box-shadow:15px 1px 20px black;
}
.hstcard{
    margin-left:15%;
    width:400px;
}
.hstcard .content h1{
    margin-top:-100%;
    margin-left:1%;
    transition:0.5s;
    
}
.hstcard .content h1:hover{
    text-decoration: underline;
}
.hstcard .content p{
    margin-top:10%;
    font-size:large;
    text-indent: 1px;
    text-align:justify;
}
.espaco2{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:600px;
    background:var(--bg-color4);
    transition:0.5s;
}
.espaco2:hover{
    background: var(--bg-color3);
}
.histcard{
    color:var(--font-color1);
    margin-left:4.5%;
    width:600px;
    height:600px;
    background:var(--bg-color4);
    box-shadow: 20px 1px 40px black;
    transition:0.5s;
}
.histcard:hover{
    margin-left:3%;
    box-shadow: 10px 1px 20px black;
}
.histcard .content2{
    padding:60px;
    text-align:justify;
}
.histcard .content2 h1{
    transition:0.5s;
    margin-top:3%;
}
.histcard .content2 p{
    margin-top:3%;
}
.histcard2{
    color:var(--font-color1);
    margin-left:50.5%;
    margin-top:-37.9%;
    width:600px;
    height:600px;
    background:var(--bg-color4);
    box-shadow: -20px 1px 40px black;
    transition:0.5s;
}
.histcard2:hover{
    margin-left:52%;
    box-shadow: -10px 1px 20px black;
}
.histcard2 .content3{
    padding:60px;
    text-align:justify;
}
.histcard2 .content3 h1{
    transition:0.5s;
    margin-top:3%;
}
.histcard2 .content3 p{
    margin-top:3%;
}
.histcard .content2 h1:hover{
    text-decoration:underline;
}
.histcard2 .content3 h1:hover{
    text-decoration:underline;
}
footer{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100px;
    background:var(--bg-color2);
}
footer p{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top:0%;
    margin-left:0%;
    color: var(--font-color1);
    font-size:15px;
}
@media(max-width: 500px){
    body{
        width:100%;
    }
    header{
        position:absolute;
    }
    nav{
        display:block;
        margin-left:auto;
        margin-right:auto;
        margin-top: -25%;
    }
    nav ul{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    nav ul li a {
        color: var(--font-color4);
        padding:11px;
        font-size:10px;
    }
    #sobre{
        margin-left:1%;
        margin-top:1%;
    }
    #sobre ul li a{
        font-size:10px;

    }
    #icon{
        display:block;
        width:80px;
        margin-left:auto;
        margin-right:auto;
        margin-top:10%;
    }
    #banner{
        margin-top:-25%;
        width:100%;
        height:800px;
    }
    .espaco{
        display:flex;
        align-items: center;
        justify-content: center;
        margin-top:0%;
        width:100%;
        height:850px;
    }
    .hstcard .content{
        width:100%;
        margin-left:-5%;
        margin-top: -160%;
    }
    .hstcard .content h1{
        font-size:20px;
        display:flex;
        align-items:center;
        justify-content: center;
    }
    .hstcard .content p{
        font-size:15px;
    }
    .hstcard .imgbanner{
        width:100%;
        height:400px;
        margin-left:-5%;
        box-shadow: 1px 1px 10px black;
    }
    .hstcard .imgbanner img{
        width:400px;
        height:400px;
        display:block;
        margin-left:auto;
        margin-right:auto;
        margin-top:-10%;
    }
    .hstcard .imgbanner img:hover{
        box-shadow: 1px 1px 20px black;
    }
    .espaco2{
        width:100%;
        margin-top:150%;
    }
    .histcard{
        display:block;
        margin-left:auto;
        margin-right:auto;
        margin-top:-150%;
        width:100%;
        height:auto;
    }
    .histcard:hover{
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    .histcard2{
        display:block;
        margin-left:auto;
        margin-right:auto;
        margin-top:5%;
        width:100%;
        height:auto;
    }
    .histcard2:hover{
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    footer{
        width:100%;
        margin-top:110%;
    }
    footer p{
        display:flex;
        align-items: center;
        justify-content: center;
        margin-left:0%;
    }
}